@media (max-width: 767px){
  h1{
    font-size: 2.6em;
  }
  p{
    font-size: 1.4em;
  } 

  .hero{
    height: auto;
    min-height: 50vh;
  }

  .logo{
    font-size: 1.4em;
  }

  .link{
    font-size: 1.4em;
  }

  .nav{
    gap: 15px;
  }

  .btn-primary{
    display: none;
  }

  .my-skills{
    justify-content: center;
  }

  .content{
    width: 100%;
    padding: 48px 30px;
  }

  .skills-intro h2{
    font-weight: 500;
    font-size: 2em;
  }

  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 15px;
  }

  .stat p{
    font-weight: 400;
    font-size: 1.4em;
  }

  .stat span{
    display: none;
  }

  .portfolio-projects{
    padding-top: 60px;
  }

  .portfolio-intro{
    padding-bottom: 40px;
  }

  .portfolio-intro .undertitle{
    font-size: 1.8em;
    padding-bottom: 15px;
    font-weight: 400;
  }

  .portfolio-intro h3{
    font-weight: 500;
    font-size: 2em;
  }

  .card{
    width: 100%;
    padding: 30px 15px;
  }

  .project-description{
    padding: 20px;
  }

  .about .title{
    font-size: 1.8em;
  }

  .footer{
    margin-top: 60px;
    justify-content: center;
  }

  .footer-content{
    padding: 20px;
  }

  .footer-content h4{
    line-height: 170%;
    font-size: 2em;
  }

  .sta{
    padding-bottom: 24px;
  }

  .footer-copyright{
    font-size: 1em;
    padding: 20px;
  }
}