.hero{
  height: 100dvh;
  background-position: center;
  background: url(../assets/images/mobile/hero-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 30px 20px;
}

.hero-nav{
  display: flex;
  justify-content: space-between;
}

.nav-item{
  width: 100%;
  max-width: 92px;
}

.menu-items{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu-items a:nth-child(2){
  border-bottom: 1px solid #fff;
}

.hero-subcontent{
  color: #fff;
}

.info-card{
  margin-bottom: 40px;
  background-color: var(--bg-5);
  width: max-content;
  border-radius: 8px;
}

.info-content{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 16px;
}

.cta{
  height: 100dvh;
  color: #fff;
  background-position: center;
  background: url(../assets/images/mobile/cta-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-section{
  padding: 30px 0;
}

.inner-content{
  padding: 34px 0 70px 0;
}

.cta-content-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 32px 16px;
  text-align: center;
  background-color: var(--bg-5);
}

.cta-content-container p{
  padding: 0 16px;
}

.stat{
  height: 80dvh;
  color: #fff;
}

.stat:first-child{
  background: url(../assets/images/mobile/task-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.stat:last-child{
  background-color: var(--bg-2);
}

.stat .btn-linkout-secondary{
  gap: 10px;
}

.stat-content{
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.left-column{
  padding-top: 109px;
}

.right-column{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 98px;
}

.right-column .h-2{
  line-height: 90%;
}

.mission{
  background-color: var(--bg-4-hover);
  height: 80dvh;
}

.mission-content{
  padding: 20px;
}

.icon-set{
  display: flex;
  gap: 8px;
}

.icon-set img{
  width: 24px;
  object-fit: cover;
  height: auto;
}

.icon-set img:nth-child(1):hover{
  content: url(../assets/Icons/insta-hover.svg);
}

.icon-set img:nth-child(2):hover{
  content: url(../assets/Icons/x-hover.svg);
}

.icon-set img:nth-child(3):hover{
  content: url(../assets/Icons/fbook-hover.svg);
}

.footer{
  height: 100dvh;
  position: relative;
  color: #fff;
  background: url(../assets/images/mobile/footer-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer .h-1{
  position: absolute;
  color: #fff;
  bottom: 30px;
}

.footer-content{
  padding: 30px 20px;
}

.content-inner{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.copyright-column p:first-child{
  padding-bottom: 10px;
}

