*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Geist", sans-serif;
  font-size: 10px;
}

.h-one,
.h-three{
  font-weight: 500;
}

.h-one{font-size: 2.2em;}
.h-two{font-size: 2em;}
.h-three{font-size: 1.8em;}

img{
  width: 100%;
  display: block;
  object-fit: cover;
}

ul,li,ol{
  list-style: none;
}

a{
  text-decoration: none;
}


