.integation-section{
  display: flex;
  gap: 30px;
  align-items: center;
}

.integration-content h2{
  font-size: 3.2em;
  font-weight: 700;
  padding-bottom: 35px;
}

.integration-content p{
  font-size: 1.8em;
  padding-bottom: 60px;
}

@media(max-width: 1024px){
  .integation-section{
    flex-direction: column-reverse;
    text-align: center;
  }

  .integation-section img{
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

@media(max-width: 425px){
  .integration-content{
    padding: 0 20px;
  }

  .integration-content h2{
    font-size: 2.4em;
    padding-bottom: 20px;
  }

  .integration-content p{
    font-size: 1.6em;
    padding-bottom: 40px;
  }
}