:root{
  --undertitle: #D9D9D9;
}

.testimonial-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-bottom: 80px;
  overflow-x: hidden;
  align-items: stretch;
}

.testimonial-container {
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 0 18px rgba(0, 0, 0, 0.2);
  display: flex;
  flex: 1;
  flex-direction: column;
}

.testimonial-content {
  padding: 0 25px;
  display: flex;
  height: 100%;
  gap: 20px;
  flex-direction: column;
  padding-bottom: 20px;
  flex: 1;
}

.testimonial-image {
  padding-bottom: 25px;
}

.testimonial-description {
  font-size: 1.2em;
  margin-bottom: auto;
}

.testimonial-job-info {
  color: var(--undertitle);
  font-size: 2.4em;
  font-weight: 700;
}

.testimonial-info {
  font-size: 1.2em;
  font-weight: 700;
}

@media(max-width: 1024px){
  .testimonial-inner {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }
}

@media(max-width: 450px){
  .testimonial-inner {
    grid-template-columns: 1fr;
  }

  .testimonial-job-info {
    font-size: 1.8em;
  }
}