@media (min-width: 768px){
  .display-one{font-size: 20em;}
  .display-two{font-size: 8.4em;}
  .display-three{font-size: 6.4em;}
  .hero-display{font-size: 7.2em;}
  .p-one{font-size: 3.2em;}
  .p-two{font-size: 1.8em;}
  .p-three{font-size: 1.4em;}
  .h-one{font-size: 3.2em;}
  .h-two{font-size: 2em;}
  .h-three{font-size: 1.8em;}

  .hero-wrapper {
    height: 100dvh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* затемнение */
    url('../assets/images/desktop/hero-image.jpg') cover;
  }

  .hero-content{
    position: absolute;
    padding: 0 50px;
    bottom: 70px;
  }

  .welcome-paragraphs{
    display: flex;
    padding-bottom: 50px;
    gap: 48px;
  }

  .welcome-content{
    padding: 135px 64px;
  }

  .welcome-content .button-dark{
    width: max-content;
  }

  .breaker-section img{
    content: url(../assets/images/tablet/breaker-section.jpg);
  }

  .divider img{
    content: url(../assets/images/tablet/divider-section.jpg);
  }

  .footer-header{
    display: flex;
    justify-content: space-between;
  }

  .footer-contact-info{
    flex-direction: row;
    gap: 24px;
  }

  .footer-contact-info .column{
    width: 100%;
    max-width: 30vw;
  }
}

@media (min-width: 1280px){
  .display-one{font-size: 30em;}
  .display-two{font-size: 12em;}
  .display-three{font-size: 7.6em;}
  .hero-display{font-size: 12em;}
  .p-one{font-size: 3.2em;}
  .p-two{font-size: 1.8em;}
  .p-three{font-size: 1.4em;}
  .h-one{font-size: 3.2em;}

  .welcome-section{
    height: 100dvh;
  }

  .welcome-content{
    padding: 135px 150px;
  }

  .offering-content{
    display: flex;
    padding: 95px 0 95px 150px;
    gap: 74px;
  }

  .offering-subhead p{
    width: max-content;
  }

  .breaker-section img{
    content: url(../assets/images/desktop/breaker-section.jpg);
  }

  .divider img{
    content: url(../assets/images/desktop/divider-section.jpg);
  }
}