.header {
  width: 100%;
}

.header-wrapper {
  background-color: var(--bg-2);
}

.header-content {
  display: flex;
  padding: 20px 50px;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  gap: 37px;
}

.hero {
  color: var(--d-one);
}
.hero-wrapper {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* затемнение */
    url('../assets/images/mobile/hero-image.jpg') center/cover no-repeat;
}
.hero-content {
  padding: 70px 24px;
}

.hero-content h1{
  letter-spacing: -1px;
  font-weight: 400;
  padding-bottom: 70px;
}

.hero-subcontent h2{
  font-weight: 500;
  padding-bottom: 16px;
}

.welcome-section{
  background-color: var(--bg-1);
}

.welcome-content{
  padding: 48px 24px;
}

.welcome-content.button-dark{
  width: 100%;
}

.welcome-content h2{
  padding-bottom: 40px;
}

.welcome-content p:nth-child(2){
  padding-bottom: 24px;
}

.welcome-content p:nth-child(3){
  padding-bottom: 50px;
}

.offering{
  background-color: var(--bg-2);
}

.offering-content{
  color: var(--p-secondsry);
  padding: 64px 28px;
}

.offering-subhead{
  padding-bottom: 24px;
}

.list-items{
  display: flex;
  padding-bottom: 64px;
  flex-direction: column;
  gap: 8px;
}

.list-items .last-item{
  color: rgba(255, 240, 196, 0.5);
}

.our-clients{
  padding: 64px 28px;
}

.our-clients-intro{
  text-align: center;
  padding-bottom: 34px;
}

.our-clients-intro h2{
  padding-bottom: 32px;
}

.quote{
  text-align: center;
}

.testimonial-slider{
  padding-bottom: 36px;
}

.swiper-slide{
  padding: 30px 50px 80px 50px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: var(--accent) !important; /* активная */
  transform: scale(1.2);
  opacity: 1;
}

.quote p:first-child{
  padding-bottom: 32px;
}

.our-clients-outro{
  padding-top: 36px;
  padding-bottom: 46px;
  text-align: center;
}

.our-clients .button-dark{
  margin: 0 auto;
  width: max-content;
}

.footer{
  background-color: var(--bg-1);
}

.footer-content{
  padding: 68px 28px;
}

.footer-content a{
  color: var(--p-primary);
  display: block;
}

.footer-header .logo-footer{
  padding-bottom: 24px;
}

.footer-contact-info{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.column:first-child a{
  text-decoration: underline;
}

.logo-footer img,
.sublogo-footer img{
  width: auto;
  object-fit: contain;
}