.header {
  width: 100%;
}

.header-wrapper {
  background-color: var(--bg-3);
}

.header-content {
  display: flex;
  padding: 20px 50px;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  gap: 37px;
}

.hero {
  color: var(--d-one);
}

.hero-wrapper {
  height: 100dvh;
  position: relative;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* затемнение */
  url('../assets/images/mobile/hero-three.jpg') center/cover no-repeat;
}

.hero-content {
  position: absolute;
  bottom: 70px;
  padding: 28px;
}

.next-steps{
  background-color: var(--bg-3);
  color: var(--p-secondsry);
}

.steps-content{
  padding: 64px 28px;
}

.steps-content p:not(.services-list .service p){
  padding-bottom: 36px;
}

.services-list{
  display: flex;
  border-bottom: 1px solid #a8a8a8;
  flex-direction: column;
  gap: 20px;
}

.service{
  border-top: 1px solid #a8a8a8;
}

.service p:nth-child(2){
  padding-bottom: 56px;
}

.service-content{
  padding: 20px 0;
}

.service-content p:first-child{
  padding-bottom: 24px;
}

.service-content p:last-child{
  line-height: 130%;
}

.next-steps-cta{
  padding-top: 56px;
}

.footer{
  background-color: var(--bg-1);
}

.footer-content{
  padding: 68px 28px;
}

.footer-content a{
  color: var(--p-primary);
  display: block;
}

.footer-header .logo-footer{
  padding-bottom: 24px;
}

.footer-contact-info{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.column:first-child a{
  text-decoration: underline;
}

.logo-footer img,
.sublogo-footer img{
  width: auto;
  object-fit: contain;
}