@media (min-width: 768px) {
  h1 { font-size: 5.8em; }
  h2 { font-size: 4.8em; }
  h3 { font-size: 3.4em; }
  h4 { font-size: 2.6em; }
  .quote { font-size: 2.4em; }

  .responsive-content{
    display: inline;
  }

  .logo img{
    content: url(../assets/icons/logo_header_desktop.png);
  }

  .footer{
    display: none;
  }

  .footer-desktop{
    display: flex;
  }

  .container{
    width: 100%;
    max-width: 752px;
    margin: 0 auto;
    padding: 100px 24px;
  }

  .hero-content{
    display: flex;
    flex-direction: row-reverse;
  }

  .hero-info h1{
    width: 100%;
    max-width: 447px;
  }

  .card-container{
    display: flex;
    gap: 60px;
    padding: 64px 50px;
  }

  .card-container img{
    width: 100%;
    padding: 64px 0;
    max-width: 296px;
  }

  .card-content h3:not(.with-wrap) {
    white-space: normal;
  }

  .carousel-section {
    padding: 100px;
  }

  .carousel-container{
    display: flex;
    gap: 28px;
  }

  .components{
    width: 40vw;
    flex-direction: column;
  }

  .component {
    max-width: 310px;
    height: 100%;
    max-height: 128px;
  }

  .quotes{
    max-width: 300px;
    gap: 0;
    padding-inline: 5px;
  }

  .quotes{
    border-left: 1px solid #2E4F21;
    scroll-padding-inline:0; 
  }

  .quote-container{
    flex: 0 0 300px;
  }

  .quote{
    padding-left: 20px;
    max-width: 262px;
  }

  .byline{
    padding-left: 20px;
  }

  .label-text{
    letter-spacing: -0.5px;
    font-weight: 300;
    font-size: 1.8em;
  }

  .breack-section img{
    content: url(../assets/foto/break_tablet.jpg);
  }

  .support-section{
    padding: 80px 40px;
  }

  .support-header{
      display: flex;
      justify-content: space-between;
    }

  .support-header p,
  .support-header h2{
    width: 100%;
    max-width: 330px;
  }

  .support-header h2{
    height: 100%;
    display: block;
    letter-spacing: -3px;
    font-weight: 420;
    font-size: 4em;
    max-height: 100px;
  }

  .cta-container{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }

  .cta-container img{
    content: url(../assets/foto/cta-image-tablet.jpg);
  }
}

@media (min-width: 1280px) {
  h1 { font-size: 8em; }
  h2 { font-size: 6em; letter-spacing: 7%; }
  h3 { font-size: 4em; }
  h4 { font-size: 3em; }
  h5 { font-size: 1.8em; }
  .quote { font-size: 3em; }

  .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 40px;
  }

  .wrapper{
    height: 100dvh;
  }

  .hero-content {
    align-content: normal;
  }

  .hero-content{
    justify-content: space-between;
  }

  .hero-content img{
    content: url(../assets/foto/globe_desktop.png);
  }

  .hero-info h1{
    width: 100%;
    letter-spacing: -8px;
    max-width: 616px;
  }

  .card{
    width: 85%;
  }

  .card:nth-child(2){
    margin-left: 15%;
  }

  .quote{
    padding-left: 20px;
    font-size: 2em;
  }

  .breack-section img{
    content: url(../assets/foto/break_desktop.jpg);
  }

  .support-header p{
    max-width: 660px;
  }

  .support-collumns{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
  }

  .support-collumns .callout-container{
    width: 100%;
    letter-spacing: -1px;
    max-width: 386px;
  }

  .callout-content p{
    width: 100%;
    max-width: 268px;
  }

  .callout-container{
    padding: 0 50px;
    border: none;
  }

  .callout-container:nth-child(2){

    border-right: 1px solid #2E4F21;
    border-left: 1px solid #2E4F21;
  }

  .cta-container img{
    content: url(../assets/foto/cta-image_desktop.jpg);
  }
}
