@font-face {
  font-family: "Righteous";
  src: url(../Fonts/Righteous/Righteous-Regular.ttf) format('TrueType');
}

@font-face {
  font-family: "Roboto Flex";
  src: url(../Fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url(../Fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
  font-style: normal;
}