/* Header.css */

.header{
  width: 100%;
}

.header-content{
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 28px 24px;
  justify-content: space-between;
}

.nav-list{
  display: flex;
  gap: 40px;
}

.nav-list li{
  list-style: none;
  font-size: 1.6em;
}

.nav-list a{
  color: #000;
  text-decoration: none;
}

.header-cta{
  display: flex;
  gap: 32px;
}

.mobile-cta{
  display: none;
}

.burger-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.burger-button .burger-line {
  width: 100%;
  height: 3px;
  background: #000;
  transition: all 0.3s ease;
}

.nav-menu.open + .burger-button .burger-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.nav-menu.open + .burger-button .burger-line:nth-child(2) {
  opacity: 0;
}
.nav-menu.open + .burger-button .burger-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

@media (max-width: 1024px){
  .header-content{  
    justify-content: space-between;
  }

  .burger-button{
    display: flex;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 9;
    padding: 100px 20px 40px;
    box-shadow: -5px 0 15px rgba(0,0,0,0.1);
  }

  .nav-menu .nav-list{
    display: flex;
    flex-direction: column;
  }

  .nav-list{
    padding-bottom: 50px;
  }

  .nav-menu.open {
    transform: translateX(0);
  }

  .mobile-cta{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .desktop-cta{
    display: none;
    align-items: center;
  }
}