/* Button.css */

:root{
  --primary-color: #1361F5;
  --secondary-color: #E0E0E0;
}


.button{
  cursor: pointer;
  font-size: 1.6em;
  padding: 10px 27px;
  border: 0;
  font-weight: 500;
}

.button--primary{
  background-color: var(--primary-color);
  border-radius: 5px;
  color: #fff;
}

.button--secondary{
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.button--login{
  background-color: #fff;
  padding: 0;
  border: 0;
  color: var(--primary-color);
}

@media(max-width: 425px){
  .button{
    font-size: 1.4em;
    padding: 8px 20px;
  }

  .button--login{
    padding: 0;
  }
}