@font-face {
  font-family: "Sigmar One";
  src: url(../Fonts/Sigmar_One/SigmarOne-Regular.ttf) format(TrueType);
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format(TrueType);
  font-style: normal;
}