/* ui-kit */

:root{
  --bg-main: #1E2B3F;
  --bg-section: #2A3950;


  --btn-color-secondary: #62948B;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 50px;
}

.logo{
  font-family: "Sigmar One";
  display: block;
  font-size: 2.4em;
}

.link{
  color: #fff;
  font-family: "Sigmar One";
  font-size: 1.6em;
}

.btn-primary{
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 10px 12px;
  transition: all 250ms ease;
}
.btn-primary span {
  display: inline-block;
  transition: transform 0.2s ease-out;
}
.btn-primary:hover span{
  transform: translateY(-2px);
}

.btn-secondary{
  color: #fff;
  background-color: var(--btn-color-secondary);
  text-transform: uppercase;
  display: block;
  width: max-content;
  padding: 16px 42px;
  transition: all 250ms ease;
}
.btn-secondary span {
  display: inline-block;
  transition: transform 0.2s ease-out;
}
.btn-secondary:hover span{
  transform: translateY(-2px);
}

