*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* === base (мобильные стили по умолчанию) === */
body {
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
  overflow-x: hidden;
  color: #2E4F21;
  letter-spacing: -4.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  letter-spacing: -8%;
}

/* Мобильная база */
h1 { font-size: 4em;}
h2 { font-size: 3.2em;}
h3 { font-size: 2.8em; }
h4 { font-size: 2.2em; }
h5 { font-size: 1.8em; }
p  { font-size: 1.6em; }

.quote { font-size: 1.8em; }

label{
  font-size: 1.2em;
  font-weight: 500;
}

ul,li,ol{
  list-style: none;
}

img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

a{
  color: #2E4F21;
  text-decoration: none;
}
